* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.png) center/cover
}

.navigation-div {
    height: 100px;
}

.navigation-div ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.navigation-div ul li {
    margin: 30px;
}

.navigation-div ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

@media (max-width: 728px){
    .navigation-div ul li {
        margin: 10px;
    }

    .navigation-div ul li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
}

.home-page-info,
.about-page-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: white;
    text-align: center;
}

.text-box, .demo-button {
    color: white;
    text-align: center;
}

.text-box p {
    margin: 10px 0 20px;
}

.demo-button-div {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.demo-button {
    border: 2px solid white;
    padding: 20px 20px;
    border-radius: 20px;
    text-align: center;
}

.demo-button:hover {
    border: 2px solid #c95845;
    background: #c95845;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.tasks-header-div {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.tasks-header-div h1 {
    color: white;
}

.sorting-text-div {
    text-align: center;
    color: white;
    font-size: 25px;
}

.sort-buttons-div {
    display: flex;
    justify-content: center;
}


.add-task-div,
.edit-task-div,
.display-task-div,
.task-view-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    border-radius: 20px;
    margin: 30px auto 0;
    width: 240px;
    height: 400px;
}

.task-title-div,
.task-deadline-div,
.task-description-div,
.task-importance-div {
    border: solid 1px white;
    width: 95%;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-title-div {
    height: 50px;
    font-size: 30px;
    padding-top: 10px;
}

.task-deadline-div {
    height: 40px;
    font-size: 20px;
}

.task-deadline-div p {
    padding-top: 10px;
}

.task-description-div {
    height: 200px;
    display: block;
}

.task-importance-div {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 60px;
}

.task-importance-div p {
    margin-bottom: 0;
}

.active-tasks-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display-task-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.display-task-div:hover {
    text-decoration: none;
}

.pages-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
