* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.png) center/cover
}

.navigation-div {
    height: 100px;
}

.navigation-div ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.navigation-div ul li {
    margin: 30px;
}

.navigation-div ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

@media (max-width: 728px){
    .navigation-div ul li {
        margin: 10px;
    }

    .navigation-div ul li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
}

.home-page-info,
.about-page-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box, .demo-button {
    color: white;
    text-align: center;
}

.text-box {

}

.text-box p {
    margin: 10px 0 20px;
}

.demo-button-div {
    display: inline-block;
    margin: 10px;
}

.demo-button {
    border: 2px solid white;
    padding: 20px 20px;
    border-radius: 20px;
    text-align: center;
}

.demo-button:hover {
    border: 2px solid #c95845;
    background: #c95845;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


/*.header {*/
/*    min-height: 100vh;*/
/*    width: 100%;*/
/*    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.png) center/cover;*/
/*    display: block;*/
/*}*/



/*.nav-links ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*}*/

/*.nav-links ul li {*/
/*    flex: 1;*/
/*    text-align: center;*/
/*}*/

/*.nav-links ul li a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*@media (min-width: 768px){*/

/*}*/





/*.main-header {*/
/*    font-size: 40px;*/
/*}*/

/*.logged-header {*/
/*    display: flex;*/
/*    color: white;*/
/*}*/

/*.logged-header h2 {*/
/*    margin: 0 auto;*/
/*}*/

/*.task-board {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

/*.tasks {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.pages {*/
/*    display: inline-block;*/
/*}*/

/*.task-containers {*/
/*    width: 240px;*/
/*    height: 400px;*/
/*    margin: 15px;*/
/*    border: 2px solid white;*/
/*    border-radius: 20px;*/
/*    color: white;*/
/*    padding: 20px;*/
/*    text-decoration: none;*/
/*    background: rgba(255, 255, 255, 0.1);*/
/*}*/

/*.task-containers p {*/
/*    border: 1px solid lightgray;*/
/*    padding: 0 10px;*/
/*    background: none;*/
/*    color: white;*/
/*    margin: 10px 0;*/
/*    border-radius: 10px;*/
/*    resize: none;*/
/*    background: rgba(0, 0, 0, 0.2);*/
/*}*/

/*.task-containers:hover {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*.task-containers h3 {*/
/*    border: 1px solid lightgray;*/
/*    border-radius: 10px;*/
/*    font-size: 26px;*/
/*    text-align: center;*/
/*    background: rgba(0, 0, 0, 0.2);*/
/*}*/

/*.description {*/
/*    height: 250px;*/
/*}*/

/*.add-task {*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: 90%;*/
/*    transform: translate(-50%, -50%);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*}*/

/*.sorting {*/
/*    color: white;*/
/*}*/