*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img{
    width: 100px;
}

.nav-links{
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    position: relative;
}

.nav-links ul li a{
    color: white;
    padding: 10px;
}

.text-box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.demo-button{
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 20px;
}

.demo-button:hover{
    border: 2px solid #f44336;
    background: #f44336;
    transition: 1s;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-header{
    font-size: 40px;
}

.logged-header{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.task-board{
    position: absolute;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    top: 25%;
}
.task-containers{
    display: inline-block;
    width: 250px;
    height: 440px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px 10px;
    color: white;
    text-align: center;
    padding: 10px;
    overflow-wrap: break-word;
}

.add-task{
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}