{% extends 'task_manager/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="add-task">
            <a href="{% url 'tasks:add-task' %}" class="demo-button">Add new task</a>
        </div>

        <div class="task-board">
                                    <div class="logged-header">
            <h2>Active tasks</h2>
        </div>
            <div class="tasks">

            {% for task in tasks %}
                <a href="{% url 'tasks:task-view' pk=task.pk %}" class="task-containers">
                    <h3>{{task.title}}</h3>
                    <p>Deadline: {{task.deadline}}</p>
                    <p class="description">{{task.description}}</p>
                    <p>Importance: {{task.importance}}</p>
                </a>
            {% endfor %}
            </div>
            <div class="pages">
            {% if is_paginated %}
                  {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                  {% endif %}


            {% endif %}
            </div>
        </div>

    {% else %}
        <div class="text-box">
            <h2 class="main-header">Task Manager</h2>
            <p>Enjoy this super useful app to manage your tasks,
                sort them by importance, deadline or days since created
            </p>
            <a href="" class="demo-button">Check out the demo</a>
        </div>
    {% endif %}
{% endblock %}
