{% extends 'task_manager/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="logged-header">
            <h2>Active tasks</h2>
        </div>

        <div class="add-task">
            <a href="{% url 'tasks:add-task' %}" class="demo-button">Add new task</a>
        </div>

        <div class="task-board">
            {% for i in '123456789' %}
                <div class="task-containers">
                    <h3>TITLE</h3>
                    <p>Description Description Description DescriptionDescriptionDescription</p>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="text-box">
            <h2 class="main-header">Task Manager</h2>
            <p>Enjoy this super useful app to manage your tasks,
                sort them by importance, deadline or days since created
            </p>
            <a href="" class="demo-button">Check out the demo</a>
        </div>
    {% endif %}
{% endblock %}
