{% extends 'task_manager/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
{% endblock %}

{% block content %}
    <div class="text-box-div">
        <div class="task-containers">
            <label for="title"></label>
            <input type="text" id="title" name="title" value="Task title">

            <label for="deadline"></label>
            <input type="date" id="deadline" name="deadline" value="Add deadline">

            <label for="description"></label>
            <textarea id="description" name="description">That's the place for task description...</textarea>

            <p>Importance</p>
            <div class="importance-container">
              <label>
                <input type="radio" name="importance" value="LOW"> Low
              </label>
              <label>
                <input type="radio" name="importance" value="MEDIUM" checked> Medium
              </label>
              <label>
                <input type="radio" name="importance" value="HIGH"> High
              </label>
            </div>

        </div>
    </div>
{% endblock %}