{% extends 'task_manager/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
{% endblock %}

{% block content %}
        <div class="tasks-header-div">
            <h1>Task view</h1>
        </div>

        <div class="task-view-div">
            <div class="task-title-div">
                <h2>{{object.title}}</h2>
            </div>
            <div class="task-deadline-div">
                <p>Deadline: {{object.deadline}}</p>
            </div>
            <div class="task-description-div">
                <p class="description">{{object.description}}</p>
            </div>
            <div class="task-deadline-div">
                <p>Importance: {{object.importance}}</p>
            </div>
        </div>

        <div class="task-buttons-div">
            <a href="{% url 'tasks:edit-task' pk=object.pk %}" class="demo-button">Edit task</a>
            <form method="POST" action="{% url 'tasks:delete-task' pk=object.pk %}">
                {% csrf_token %}
                <input type="submit" value="Delete" class="demo-button">
            </form>
        </div>

{% endblock %}