{% extends 'task_manager/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-box">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="card">
          <img src="{{user.profile.image.url}}" alt="User" style="width:100%">
          <h1>{{user.username}}</h1>
          <p>{{user.email}}</p>
          <a class="update-button" href="{% url 'users:profile-update' %}">Update profile</a>
        </div>
    </div>
{% endblock %}