.task-containers{
    width: 240px;
    height: 400px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 0;
}

.text-box-div{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, textarea{
  border  : 1px solid lightgray;
  padding : 0 10px;
  background: none;
  color: white;
  margin-bottom: 5px;
  border-radius: 10px;
  resize: none;
}

#title {
  font-size: 26px;
  width: 95%;
  text-align: center;
}

p {
  margin: 0;
}

textarea {
  height: 53%;
}

.importance-container {
  display: inline-block;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.importance-container p{
    border: none;
}
.importance-container input {
    cursor: pointer;
}

label {
  margin-right: 10px;
}

.save-task {
    text-align: center;
    margin-top: 20px;
}

.radios{
}